<div class="jumbotron">
    <h1>RFID Kanban Game</h1>
    <p class="lead">An electronic version of the kanban coin game using RFID tags designed and developed by Jan Kees Velthoven. Multiple RaspberryPi3 machines are used in combination with a RC522 RFID reader. Windows 10 IoT Core is used as the OS for the RaspberryPi3 machines. The server uses a .NET MVC Web Application that validates the data and persists the registrations in SQL Server DB. Power BI Desktop is used to visualize the data in multiple graphs.</p>
    <p><a href="https://github.com/jankeesv/RFIDKanban" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get started</h2>
        <p>Set the station names based on the students name and do some basic checks.</p>
        <p>@Html.ActionLink("Continue", "Index", "Setup", new { area = "" }, new {@class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Start the exercise</h2>
        <p>Enable registrations for all stations and start the kanban exercises.</p>
        <p><a class="btn btn-default" href="#">Continue</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clean up</h2>
        <p>Remove all the registrations from the database.</p>
        <p><a class="btn btn-default" href="#">Continue</a></p>
    </div>
</div>
