<div class="jumbotron">
    <h1>Get started</h1>
    <p class="lead">Set the station names based on the students name and do some basic checks.</p>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <fieldset>
                <legend>Participants</legend>
                <div class="editor-label">
                </div>
                <div class="editor-field">
                </div>
            </fieldset>
        }
        <p>Paragraph...</p>
    </div>
</div>